
[mysqld]
default-time-zone='+9:00'
character-set-server=utf8mb4
collation-server=utf8mb4_bin
explicit-defaults-for-timestamp=1
general-log=1
general-log-file=/var/log/mysql/mysqld.log
secure-file-priv=""

[client]
default-character-set=utf8mb4
